<h1>Listing makes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @makes.each do |make| %>
  <tr>
    <td><%= make.name %></td>
    <td><%= make.category.name %></td>
    <td><%= link_to 'Show', make %></td>
    <td><%= link_to 'Edit', edit_make_path(make) %></td>
    <td><%= link_to 'Destroy', make, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Make', new_make_path %>
